.alu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: royalblue;
  width: 110px;
  padding: 0px 5px;
}

.alu .title {
  margin-bottom: 12px;
  font-size: 13px;
  padding: 0px 5px !important;
  height: 22px;
  display: flex;
  align-items: center;
  right: 2px;
}

.alu .res {
  align-self: flex-end;
}

.alu .register {
  font-size: 13px;
}
