.cpu {
  height: 350px;
  width: 280px;
}

.cpu .top {
  display: flex;
  width: 230px;
}

.cpu .title {
  position: relative;
  top: 5px;
  right: 5px;
  align-self: flex-end;
  margin-bottom: 15px;
}

.cpu .register {
  display: flex;
  justify-content: space-between;
  border: 1px white solid;
  width: 75px;
  margin-bottom: 5px;
}

.cpu .register .name {
  background-color: black;
  padding: 0px 5px;
}

.cpu .register .values {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  width: 100%;
}