.machine {
  padding: 10px;
  width: 100%;
  min-width: 420px;
  color: white;
  background-color: #061072;
  overflow-y: auto;
}

.machine .layout {
  display: flex;
  justify-content: space-around;
}

.frame .layout {
  display: flex;
  justify-content: space-between;
}

.frame {
  min-height: 350px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #00A8A8;
  align-items: center;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 5px;
}

.frame .title {
  background-color: green;
  position: relative;
  margin-bottom: 10px;
  padding: 0px 5px;
}
