.memory {
  width: 80px;
  font-size: 17px;
  overflow-y: auto;
}

.memory.frame {
  padding-top: 0;
}

.memory::-webkit-scrollbar { 
  display: none; 
}

.memory .title {
  position: fixed !important;
  padding: 0px 14px !important;
}

.memory .cell {
  background-color: saddlebrown;
  padding: 3px 5px;
  min-height: 20px;
  width: 70px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.memory .cell .dir {
  font-style: italic;
}

.memory .cell .value {
  background-color: darkred;
  padding: 0 2px;
}

.memory .cell:nth-child(2) {
  margin-top: 25px;
}

.memory .cell:last-child {
  margin-bottom: 0;
}

.memory .cell.active {
  background-color: tomato !important;
}